<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/favicon.ico">
</head>
<body>
    <div class="main-content">

    </div>
        <img class="porttrait" src="/img/profile.png" alt="">
    {{>header}}
    {{>footer}}
</body>
</html>